<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block title %}{% endblock %} - Tijdsverschillen.net</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


  {% if timezone and timezone.dst_offset %}
      <script type="text/javascript">

      function clockS(){

      	function addZero(i) {
      		if (i < 10) {
      			i = "0" + i;
      		}
      		return i;
      	}

      var d = new Date();
      var x = document.getElementById("clock");
      var h = addZero(d.getUTCHours()+{{timezone.dst_offset}});
      var m = addZero(d.getUTCMinutes());
      var s = addZero(d.getUTCSeconds());
      x.innerHTML = h + ":" + m + ":" + s;

      var t = setTimeout(function(){ clockS() }, 1000);
      }

      window.onload=clockS;
      </script>
    {% endif %}


    <script type="text/javascript">

    function clockjelle(id, offset){

      function addZero(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }

    var d = new Date();
    var x = document.getElementById(id);

    var h = addZero((d.getUTCHours()+offset) % 24);
    var m = addZero(d.getUTCMinutes());
    var s = addZero(d.getUTCSeconds());
    x.innerHTML = h + ":" + m + ":" + s;
    var t = setTimeout(function(){ clockjelle(id, offset) }, 1000);

    }

    </script>


  </head>



  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Tijdzones.net</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">


      </div>
    </nav>

    <div class="container">

     {% block container %}
     <h1>Continents</h1>

     {% for continent in continents %}

        <li><a href="/{{continent[1]}}">{{continent[0]}}</a></li>

     {% endfor %}



	{% endblock %}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
