{% extends 'base.html' %}

{% block title %} {{city.name}} - {{ country.country }} - {{ country.continent }} {% endblock %}

     {% block container %}


     <div class="row">

       {% for feat_city in city_tzs %}
       <div class="col">
         <div class="card">

           <div class="card-header">
             {{feat_city[0].name}}
           </div>
           <div class="card-block">
             <h4 class="card-title">{{feat_city[0].name}}</h4>
             <h5 class="card-text" id="{{feat_city[0].name_id}}">bla</h5>
             <script>clockjelle('{{feat_city[0].name_id}}',{{feat_city[1].dst_offset}})</script>
           </div>
         </div>
       </div>
       {% endfor %}
     </div>


     <div class="row mt-5">
       <div class="col">
         <h1>{{city.name}}</h1>
         <h2>{{country.country}}</h2>
       </div>
     </div>

     <div class="row mt-2">
       <div class="col">
         <div class="card">
           <div class="card-header">
             Lokale tijd
           </div>
           <div class="card-block">
             <h4 class="card-title display-4"><span id="clock"></span></h4>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card">
           <div class="card-header">
             Tijdsverschil
           </div>
           <div class="card-block">
             <h4 class="card-title display-4">Special title treatment</h4>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card">
           <div class="card-header">
             GMT en UTC
           </div>
           <div class="card-block">
             <h4 class="card-title">GMT</h4>
             <p class="card-text">{{timezone.gmt_offset}}, {{timezone.dst_offset}}, {{timezone.raw_offset}}</p>
           </div>
         </div>
       </div>
     </div>


     <div class="row mt-5">
       <div class="col">
         <p class="lead">
           {{poptext}}
         </p>
       </div>
     </div>


	{% endblock %}
